// swift-tools-version:5.10
import PackageDescription

let package = Package(
    name: "QVACExternalConsumer",
    platforms: [.macOS(.v14)],
    dependencies: [
        .package(url: "__QVAC_PACKAGE_URL__", __QVAC_PACKAGE_REQUIREMENT__),
    ],
    targets: [
        .executableTarget(
            name: "QVACExternalConsumer",
            dependencies: [.product(name: "QVACClient", package: "qvac-swift")]
        ),
    ]
)
